# Data exploration

Let's explore the data contained in the __test_data.csv__ file.

In [1]:
# Import the required libraries
import pandas as pd

In [2]:
# Load data from file
df = pd.read_csv("data/train_data.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Survivors and deceased distribution (%)
df.Survived.value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [8]:
# Survivors and deceased distribution by gender
df.groupby(df.Sex).Survived.value_counts(normalize=True)

Sex     Survived
female  1           0.742038
        0           0.257962
male    0           0.811092
        1           0.188908
Name: Survived, dtype: float64

In [10]:
# Survivors and deceased distribution by class
df.groupby(df.Pclass).Survived.value_counts(normalize=True)

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: Survived, dtype: float64

In [14]:
# Survival and deceased distribution by gender in a given class
df.groupby([df.Pclass, df.Sex]).Survived.value_counts(normalize=True)

Pclass  Sex     Survived
1       female  1           0.968085
                0           0.031915
        male    0           0.631148
                1           0.368852
2       female  1           0.921053
                0           0.078947
        male    0           0.842593
                1           0.157407
3       female  0           0.500000
                1           0.500000
        male    0           0.864553
                1           0.135447
Name: Survived, dtype: float64

In [31]:
# Survival and deceased distribution by Age
df.groupby(df.Age.fillna(-1).astype(int)).Survived.value_counts().head(10)

Age  Survived
-1   0           125
     1            52
 0   1             7
 1   1             5
     0             2
 2   0             7
     1             3
 3   1             5
     0             1
 4   1             7
Name: Survived, dtype: int64

In [97]:
# Survival distribution adults and non-adults
df.Child = float('NaN')
df.loc[df.Age >= 18, df.Child] = 1
df.loc[df.Age  < 18, df.Child] = 0
df.groupby(df.Child).Survived.value_counts()

nan  Survived
0.0  1            61
     0            52
1.0  0           372
     1           229
Name: Survived, dtype: int64